<div>
	<h1>Secrets</h1>
	<div>
		<% @secrets.each do |secret| %>
			<p><%= secret.secret %></p>
			<p><%= secret.like %> <a href="/secrets/<%= secret.id %>/like">Like</a></p>
			<% if current_user.id == secret.user.id %>
				<a data-method="delete" href="/secrets/<%= secret.id %>">Delete</a>
			<% end %>
		<% end %>
	</div>
	<div>
		<h2>No likes</h2>
		<% @likes.each do |like| %>
			<p><%= like.secret %></p>
			<p><%= like.like %> <a href="/secrets/<%= like.id %>/like">Like</a></p>
			<% if current_user.id == like.user.id %>
				<a data-method="delete" href="/secrets/<%= like.id %>">Delete</a>
			<% end %>
		<% end %>
	</div>
	<h3>Tell a Secret!</h3>
	<form action="/secrets/new" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<textarea name="secret" cols="25" rows="3"></textarea>
		<div>
			<input type="submit" value="If you Dare!">
		</div>
	</form>
	<div>
		<%= flash[:errors] %>
	</div>

</div>